<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-black">
        {% block body %}{% endblock %}
        <footer class="text-center bg-white ">
            <div class="container text-muted py-4 py-lg-5">
                <h6>Creator Links</h6>
                <ul class="list-inline">
                    <li class="list-inline-item me-4"><a class="link-secondary" href="https://www.linkedin.com/in/tomek-woytkowiak/">LinkedIn</a></li>
                    <li class="list-inline-item me-4"><a class="link-secondary" href="https://github.com/Scoobydowsky">Github</a></li>
                    <li class="list-inline-item"><a class="link-secondary" href="http://scoobydowsky.pl">Creator Website</a></li>
                </ul>
                <p class="mb-0">Created in 2024 by Scoobydowsky</p>
            </div>
        </footer>
    </body>
</html>
